body {
    background-color: powderblue;
    text-align: center;
    color: #5A5A5A;
    font-weight: bold;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
    width: 95%;
    margin: auto;
}

.item {
    display: inline-block;
    padding-bottom: 25px;
}
